/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	//margin-top: 10px;
	text-align: center;
   height: 100%;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons {
   height: 100%; 
  

   div{
     // color: $gray;
     // display: table-cell;
      zoom: 1;
      *display: inline;	/*IE7 life-saver */
      background: $middle-gray;
      filter: Alpha(Opacity=100);	/*IE7 fix*/
      opacity: 1;
      position:absolute;
      height: 98.2%;
      top: 0;

      
      i[class^='intrasys-icon'],i[class*='intrasys-icon'] {
         color:$gray;
         font-size:rem-calc(20px);
         //line-height: rem-calc(150px);
         padding-right:6px;
         position: relative;
         top:38%;
         
      }
   }
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	background-color: darken( $middle-gray, 10% );
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: $white;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}


/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}



.owl-buttons .owl-prev {
 left: 0px;
 
}
.owl-buttons .owl-next{
  right: 0px;

}
.item{
text-align: center;
   position:relative;

.row{
   position:relative;
   width:100%;
   height: 100%;
   .plus{
      bottom:$section-v-space/6; 
      position: absolute;
      right:$section-v-space/6;;
      &:before{
         font-size: rem-calc(18px);  
         color: $primary-white;
         font-family: FontAwesome;
         content:"\f067";
         display:block;
         float:right;
         background-color:$primary-blue;
         border-radius: 50%;
         width: $section-v-space/2;
         height: $section-v-space/2;
         line-height: $section-v-space/2;
         text-align: center;
      //position: relative;
      //top:-$section-v-space/6;
      
      
      }
   }
   
}
   img{
      margin-right:2%;
      margin-left:2%;
   }
}

/********************************************
Product Imagery - slider carousel showcase
**********************************************/


#sync2
{
	background-color: $gray;
	@include grid-row();
}

.popup-box {
   display: none;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba($black, 0.5);
   div.popup-inner {
      position: relative;
      margin: auto;
      
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: $primary-white;
      .popup-close {
         &:before {
            font-size: $h3-font-size;
            color: $primary-blue;
            font-family: FontAwesome;
            content: "\f057";
            display: block;
            float: right;
            margin-right: $section-v-space/6;
         }
      }
      .popup-content {
         top: $section-v-space;
         padding: $section-v-space/2;
         color: $primary-blue;
         text-align: center;
         font-size: $h3-font-size;
         p {
            color: $primary-black;
            padding: 5px 0px;
            //line-height: 30px;
         }
      }
   }
}


   .sector_prod{

   >div{
      @include col(1/2);
   }
   }
