$pale-blue: #b9c2c1;
$grey: #f2f6f7;
@mixin background-shade ($col:$primary-blue) {
  background-color: rgba($col,0.5);
}
@mixin background-overlay ($col:$primary-blue) {
  position: relative;

  > * {
    z-index: 10;
  }

  &:before {
    background-color: rgba($col,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: "";
  }
}

#header {
  @include background-overlay;
}

.ready-to-discuss {
  background-size: auto 100%;
  padding: 0!important !important;
  background-color: $pale-blue;
  background-repeat: no-repeat;
  background-position: center center;

  .row {
    padding: 7rem 0;
    text-align: center;

    h2 {
      margin-bottom: 2rem;
      color: #fff;
    }

    p {
      margin-bottom: 0;
    }
  }
}
@media (max-width:844px) {
  img[alt="Logo"] {
    display: none;
  }
}

.social-links {
  display: flex;
  @media (max-width:844px) {
    justify-content: center;
  }

  img {
    width: 2.5rem;
    height: auto;
    margin: 0 0.5rem;
  }
}

.sustainable-goals {
  background-size: cover;
  padding: 0!important !important;
  background-repeat: no-repeat;
  background-position: center center;

  .row {
    padding: 7rem 0;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: 2rem;
      color: #fff;

      span {
        font-size: 1.4rem;
        display: block;
      }
    }

    img {
      width: 4rem;
      height: auto;
      margin: 3rem 1rem 0;
      display: inline-block;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@mixin button($bg,$col,$hbg,$hcol,$bor,$hbor,$size:"regular") {
  padding: 0 1rem;
  line-height: 2rem;
  background: $bg;
  color: $col;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid $bor;

  &:hover {
    background: $hbg;
    color: $hcol!important;
    border: 1px solid $hbor;
  }

  @if $size == "large" {
    padding: 0 1.75rem;
    line-height: 3.5rem;
    font-size: 1.2rem;
  }
}


.case-studies-cat .categories a,
.tabs .tab-title > a,
.tabs dd > a {
  width: 100%;
  @include button($white,$primary-blue,$primary-blue,$white,$primary-blue,$white);
}

.case-studies-cat .categories .cat-item:not(.current-cat) a {
  @include button($white,$primary-blue,$primary-blue,$white,$primary-blue,$primary-blue);
}

#contact-form .blue-solid-btn {
  width: 100%;
  height: auto;
}

#contact-form .blue-solid-btn,
.axishouse-btn,
.blue-solid-btn,
.button,
.small-blue-btn {
  @include button($primary-blue,$white,$white,$primary-blue,$primary-blue,$primary-blue);

  &--white {
    @include button($white,$primary-blue,$primary-blue,$white,$white,$white);
  }

  &--blue {
    @include button($primary-blue,$white,$white,$primary-blue,$primary-blue,$primary-blue);
  }

  &--large {
    @include button($primary-blue,$white,$white,$primary-blue,$primary-blue,$primary-blue,"large");
  }
}

.case-studies-cat .current-cat a,
.tabs .tab-title.active a,
.tabs dd.active a {
  @include button($primary-blue,$white,$white,$primary-blue,$primary-blue,$primary-blue);
}

.large-white-btn {
  @include button($white,$primary-blue,$primary-blue,$white,$primary-blue,$primary-blue,"large");
}

.large-blue-btn {
  @include button($primary-blue,$white,$white,$primary-blue,$primary-blue,$primary-blue,"large");
}

@mixin objectFit {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
@mixin gridOfThings($th) {
  background: $grey;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
    justify-content: space-between;

    &__item {
      width: 100%;
      background: white;
      margin-bottom: 2%;
      @media (min-width:600px) {
        width: 49%;
      }
      @media (min-width:1024px) {
        width: 24%;
      }
      p {
        margin:0;
      }

      a,
      span {
        display: block;
      }
      .button {
        font-size:0.9rem!important;
        text-align:center;
        margin-top:0.75rem;
      }
      &__location,
      &__description {
        margin:0.75rem 0 0 0!important;
        font-size:0.9rem!important;
      }
      &__title {
        font-family: 'Raleway', sans-serif;
        margin:0;
      }
      &__content {
        padding:1rem;
      }

      &__image {
        display: block;
        position: relative;

        img {
          @include objectFit;
        }

        &:after {
          content: "";
          display: table;
          padding-top: $th;
        }
      }
    }
  }
}

.layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #385e75;
    font-family: 'Raleway', sans-serif;
  }

  p {
    font-size: 1.3rem;
  }

  &--team-list {
    @include gridOfThings(100%);
  }

  &--resources-list {
    @include gridOfThings(120%);
  }

  &--grid-gallery {
    @include gridOfThings(60%);
  }

  &--gallery-with-text {
    .row {
      display: flex;
      flex-wrap: wrap;
      padding: 5rem 0;
    }

    &__gallery,
    &__text {
      width: 100%;
      @media (min-width:900px) {
        width: 50%;
      }
    }

    &__text {
      min-height: 500px;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: Center;

      > div {
        padding: 0 3rem;

        p {
          margin-top: 3rem;
        }
      }
    }

    &__gallery {
      ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;

        &:after {
          padding-top: 75%;
          width: 100%;
          content: "";
          display: block;
        }

        li {
          margin: 0;
          padding: 0.5rem;
          position: absolute;

          &:before {
            display: none;
          }

          span {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          &:nth-child(1) {
            top: 0;
            left: 0;
            height: 100%;
            width: 33%;
          }

          &:nth-child(2) {
            top: 0;
            left: 33%;
            height: 50%;
            width: 66%;
          }

          &:nth-child(3) {
            top: 50%;
            left: 33%;
            height: 50%;
            width: 33%;
          }

          &:nth-child(4) {
            top: 50%;
            left: 66%;
            height: 50%;
            width: 33%;
          }
        }
      }
    }
  }

  &--specification-table {
    padding: 3.875rem 2%!important !important;

    h2 {
      text-align: center;
      display: block;
      margin-bottom: 2rem;
    }

    &__table {
      background: $grey;
      padding: 2rem;

      &__row {
        font-family: 'Raleway', sans-serif;
        @media (min-width:768px) {
          flex-wrap: wrap;
          display: flex;
        }

        &__title {
          padding: 0 1rem 2rem;
          box-sizing: border-box;
          color: $primary-blue;
          font-size: 1.5rem;
          @media (min-width:768px) {
            width: 25%;
          }
        }

        &__content {
          padding: 0 1rem 2rem;
          box-sizing: border-box;
          font-size: 1.3rem;
          @media (min-width:768px) {
            width: 75%;
            border-left: 1px solid $primary-blue;
          }
        }
      }
    }
  }

  &--text-area {
    &--lead {
      position: relative;
      overflow-x: hidden;

      .row {
        min-height: 30rem;
        @media (min-width:1024px) {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          > div {
            width: 50%;
          }
        }
      }

      &__motif {
        z-index: 0;
        height: 100%;
        background-size: auto 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 25%;
        transform: translateX(-50%);
        width: 55%;
      }
    }
  }

  &--thumbnail-gallery {
    background: $grey;
    padding: 0.875rem 1%!important !important;

    .owl-item {
      padding: 1rem;
    }
  }

  &--featured-case-studies {
    color: white;
    background: $primary-blue;
    padding: 3.875rem 2%!important !important;
    text-align: center;

    &__text-area {
      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
          font-size: 1.2rem;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          &:first-child {
            &:before {
              display: none;
            }
          }
        }
      }
    }

    &__case-studies {
      display: flex;
      margin: 2rem 0;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h3 {
      color: white;
    }

    .cta {
      width: 100%;
      @media (min-width:768px) {
        width: 49%;
      }
    }
  }

  &--text-and-image {
    @media (min-width:1024px) {
      padding: 3.875rem 2%!important !important;

      .row {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        > div {
          box-sizing: border-box;
        }

        .textarea {
          width: 75%;
          padding-right: 5rem;
        }

        .image {
          width: 25%;
        }
      }
    }
  }

  &--who-we-work-with {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    > div {
      padding-top: 5rem;
      padding-bottom: 5rem;
      text-align: center;
    }

    &__introduction {
      @media (min-width:1024px) {
        max-width: 900px;
      }
      display: block;
      margin: 3rem auto;
    }

    &__ctas {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: left;

      .cta {
        width: 100%;
        @media (min-width:768px) {
          width: 49%;
        }
        @media (min-width:1024px) {
          width: 24%;
        }
      }
    }
  }
}

.cta {
  p {
    font-family: 'Raleway', sans-serif;
  }
  color: #fff;
  margin-bottom: 2%;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  article {
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    @include background-shade();

    p {
      margin-bottom: 0.5rem;
    }
  }

  &:not(:hover) {
    .button {
      display: none;
    }
  }

  &:after {
    padding-top: 60%;
    display: block;
    content: "";
    width: 100%;
  }
}

.white-dot {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  background: white;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.image {
  &--blue-drop {
    box-sizing: border-box;

    img {
      max-width: 100%;
      height: auto;
    }
    position: relative;

    &:after {
      background: $primary-blue;
      width: 100%;
      content: "";
      height: 100%;
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: -1;
    }
  }
}

.heading {
  &--boxed {
    position: relative;

    &:after {
      background: rgba($primary-blue,0.25);
      width: 80%;
      content: "";
      height: 100%;
      position: absolute;
      top: 50%;
      left: 15%;
      z-index: -1;
    }
  }
}
