
#header {
  min-height: 75%;
  position: relative;
  background-position: center center !important;
}

@media (max-width: 1000px) {
  #header .responsive-menu {
    width: 100vw !important;
    max-width: 100vw !important;
    right: 0vw;
    top: 225px;
    left: 25%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0 25% !important;

    .ah-main-navigation {
      width: 100%;
      margin: 0px auto;
      display: block;
    }
  }
}

@media (max-width: 500px) {
  #header .responsive-menu {
    left: -25%;
  }
}

.header-page {
  top: 50%;
  transform: translateY(-50%);
}

#masthead {
  height: auto !important;
  min-height: auto !important;
}

.header-subtitle {
  color: white;
}

.header-navigation {
  position: relative;
  width: 84%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  box-sizing: border-box;

  > div {
    max-width: 100% !important;

    > div {
      max-width: 100% !important;
    }
  }
}

.site-header {
  position: fixed;
  top: 0;
  z-index: 9999;
  left: 0;
  width: 100%;
  .top-bar-section li, .ah-top-bar-section li {
    padding: 0;
  }

  .top-bar-section li a, .ah-top-bar-section li a {
    padding: 1rem 0.5rem;
    display: block;
    font-size: 0.8rem;
  }

  .ah-main-navigation ul {
    list-style: none;
    text-align: right;
  }

  .site-branding {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;

    > div a {
      width: 100%;
      padding: 0 20px;

      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .site-header .site-branding {
    width: 35%;
  }

  .header-navigation {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .site-header .site-branding {
    width: 60%;
  }

  .header-navigation {
    width: 37%;
  }
}

.small-blue-btn, .blue-btn {
  display: inline-block;
  max-width: 100%;
  padding: 0.5rem;
  background: #00aeef;
  color: #fff;
  margin: 0 auto;
  border: 1px solid #00aeef !important;
}

.large-blue-btn {
  display: inline-block;
  max-width: 100%;
  padding: 0.5rem;
  background: #00aeef;
  color: #fff;
  margin: 0 auto;
  border: 1px solid #00aeef !important;
  padding: 1rem 1rem;
}

.small-blue-btn {
  padding: 0.25rem;

  &:hover {
    background: #fff;
    color: #00aeef !important;
  }
}

.blue-btn:hover, .large-blue-btn:hover {
  background: #fff;
  color: #00aeef !important;
}

.excerpt-width {
  > *:last-child {
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: left;
  }
}

.entry-content p {
  font-size: 16px;
  text-align: left;
}

.responsive-menu.menu-scroll-down {
  top: 40px;
}

.footer-black {
  .footer-top {
    padding: 2rem 0 !important;
  }

  .footer-middle {
    padding: 2rem 0 !important;
    border: 0;
  }

  .footer-top {
    border: 0;
  }
}

@media only screen and (min-width: 64.0625em) {
  #btn-down {
    bottom: 35%;
  }
}

.owl-carousel {
  max-width: 72.75rem;
  margin: 2rem auto;
}

.menu-btn {
  top: -22px;
}

.single-products #header .info {
  color: #fff !important;
}

.fancybox-opened {
  z-index: 99999;
}

@media only screen and (min-width: 40.0625em) {
  .header-prod {
    top: 21%;
  }
}

body[class*="page-landing"] .site-header {
  position: relative!important;
}

    .news_list>div {
        max-width: 100%;
        float: left;
        clear: none;
        width: 48.5%;
        margin-left: 0;
        margin-right: 3%
    }
 .news_list>div {
        width: 100%
    }

    .news_list>div:nth-of-type(2n) {
        margin-right: 0;
        float: right
    }

    .news_list>div:nth-of-type(2n+1) {
        clear: both
    }

    .news_list>div div.prod-info,.news_list>div div.thumb-featured {
        float: left;
        clear: none;
        width: 48.5%;
        margin-left: 0;
        margin-right: 3%
    }

    .news_list>div div.prod-info:last-child,.news_list>div div.thumb-featured:last-child {
        margin-right: 0
    }


.news_list>div {
    margin-bottom: 45px
}


.news_list>div div.prod-info a.small-blue-btn {
    margin-bottom: 3rem
}

.news_list>div div.thumb-featured {
    margin-right: 5%;
    width: 29.33333%
}

@media only screen and (min-width: 64.0625em) {
    .news_list>div {
        width:50%;
        margin-right: 0
    }

    .news_list>div {
        width: 100%
    }

    .news_list>div:nth-of-type(2n+1) {
        clear: both
    }

    .news_list>div:nth-of-type(2n) {
        margin-right: 0
    }

    .news_list>div:nth-of-type(3n+1) {
        clear: none
    }

    .news_list>div div.prod-info,.news_list>div div.thumb-featured {
        width: 40%;
        margin-right: .5%
    }

	.news_list>div div.thumb-featured  img {
		width:100%;
	}

    .news_list>div div.prod-info a.small-blue-btn {
        margin-bottom: 1.25rem
    }
}

.btn--order--samples,
.sample-request-form {
	display:none!important;
}

.show_all li:not(.current-cat) a {
	color:#00aeef;
}

.show_all li.current-cat a:hover {
	color:#fff!important;
}


#contact-form select {
	display:block;
	margin-top:5px;
	width:100%;
}

#contact-form input[name*="communications"] + span {
width:90%!important;
}
.prod_list {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.prod_list>div {
	margin:0!important;
	clear:none!important;
	float:none!important;
}
