button:focus {}

input {
  &[type="button"]:focus, &[type="reset"]:focus, &[type="submit"]:focus {}
}

button:active {}

input {
  &[type="button"]:active, &[type="reset"]:active, &[type="submit"]:active {}

  &[type="text"], &[type="email"], &[type="url"], &[type="password"], &[type="search"] {
    color: #666;
    border: 1px solid #ccc;
  }
}

textarea {
  color: #666;
  border: 1px solid #ccc;
}

input {
  &[type="text"]:focus, &[type="email"]:focus, &[type="url"]:focus, &[type="password"]:focus, &[type="search"]:focus {
    color: #111;
  }
}

textarea:focus {
  color: #111;
}

input {
  &[type="text"], &[type="email"], &[type="url"], &[type="password"], &[type="search"] {
    padding: 3px;
  }
}

textarea {
  padding-left: 3px;
  width: 100%;
}
