

/*--------------------------------------------------------------
## Landing Pages
--------------------------------------------------------------*/

.page-template-page-landing #header, .page-template-page-landing-two #header, .page-template-page-landing-three #header, .page-template-page-landing-four #header, .page-template-page-landing-five #header, .page-template-page-landing-six #header {
  min-height: 0;
}

.page-template-page-landing .header-content, .page-template-page-landing-two .header-content, .page-template-page-landing-three .header-content, .page-template-page-landing-four .header-content, .page-template-page-landing-five .header-content, .page-template-page-landing-six .header-content, .page-template-page-landing .header-navigation, .page-template-page-landing-two .header-navigation, .page-template-page-landing-three .header-navigation, .page-template-page-landing-four .header-navigation, .page-template-page-landing-five .header-navigation, .page-template-page-landing-six .header-navigation, .page-template-page-landing .header-page, .page-template-page-landing-two .header-page, .page-template-page-landing-three .header-page, .page-template-page-landing-four .header-page, .page-template-page-landing-five .header-page, .page-template-page-landing-six .header-page {
  display: none;
}

.page-template-page-landing #main h1, .page-template-page-landing-two #main h1, .page-template-page-landing-three #main h1, .page-template-page-landing-four #main h1, .page-template-page-landing-five #main h1, .page-template-page-landing-six #main h1 {
  text-align: left;
  margin-bottom: 5px;
}

.page-template-page-landing #main h2, .page-template-page-landing-two #main h2, .page-template-page-landing-three #main h2, .page-template-page-landing-four #main h2, .page-template-page-landing-five #main h2, .page-template-page-landing-six #main h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.page-template-page-landing .wpcf7 select, .page-template-page-landing-two .wpcf7 select, .page-template-page-landing-three .wpcf7 select, .page-template-page-landing-four .wpcf7 select, .page-template-page-landing-five .wpcf7 select, .page-template-page-landing-six .wpcf7 select {
  width: 100%;
}

.page-template-page-landing .wpcf7 label, .page-template-page-landing-two .wpcf7 label, .page-template-page-landing-three .wpcf7 label, .page-template-page-landing-four .wpcf7 label, .page-template-page-landing-five .wpcf7 label, .page-template-page-landing-six .wpcf7 label {
  text-align: left;
  width: 100%;
  display: block;
  padding-bottom: 5px;
}

.page-template-page-landing .google-map, .page-template-page-landing-two .google-map, .page-template-page-landing-three .google-map, .page-template-page-landing-four .google-map, .page-template-page-landing-five .google-map, .page-template-page-landing-six .google-map {
  text-align: right;
}

.page-template-page-landing .google-map img, .page-template-page-landing-two .google-map img, .page-template-page-landing-three .google-map img, .page-template-page-landing-four .google-map img, .page-template-page-landing-five .google-map img, .page-template-page-landing-six .google-map img {
  max-width: 750px;
  display: inline-block;
  width: 100%;
}

.page-template-page-landing strong.blue-txt, .page-template-page-landing-two strong.blue-txt, .page-template-page-landing-three strong.blue-txt, .page-template-page-landing-four strong.blue-txt, .page-template-page-landing-five strong.blue-txt, .page-template-page-landing-six strong.blue-txt {
  color: #00aeef;
  font-family: "Swiss_721 W01 Medium", Helvetica, sans-serif;
}

body[class*="page-landing"] .site-header {
  position: relative !important;
}
