/*
  Icon Font: intrasys-font
*/

@font-face {
  font-family: "intrasys-font";
  src: url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.eot");
  src: url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.eot?#iefix") format("embedded-opentype"),
       url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.woff") format("woff"),
       url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.ttf") format("truetype"),
       url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.svg#intrasys-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "intrasys-font";
    src: url("./intrasys-font_e57dc294b6cf8a66c0e83f124d92f91b.svg#intrasys-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.intrasys-icon-all:before,
.intrasys-icon-arrow-left:before,
.intrasys-icon-arrow-right:before,
.intrasys-icon-check:before,
.intrasys-icon-cleanner:before,
.intrasys-icon-download:before,
.intrasys-icon-hands:before,
.intrasys-icon-shield:before,
.intrasys-icon-steps:before,
.intrasys-icon-triangle:before,
.intrasys-icon-warning:before {
  display: inline-block;
  font-family: "intrasys-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.intrasys-icon-all:before { content: "\f100"; }
.intrasys-icon-arrow-left:before { content: "\f101"; }
.intrasys-icon-arrow-right:before { content: "\f102"; }
.intrasys-icon-check:before { content: "\f103"; }
.intrasys-icon-cleanner:before { content: "\f104"; }
.intrasys-icon-download:before { content: "\f10a"; }
.intrasys-icon-hands:before { content: "\f105"; }
.intrasys-icon-shield:before { content: "\f106"; }
.intrasys-icon-steps:before { content: "\f107"; }
.intrasys-icon-triangle:before { content: "\f108"; }
.intrasys-icon-warning:before { content: "\f109"; }
