$blue:#3f5666;

.grey-pre-footer {
  height: auto;
  width: 100%;
  background-color: $light-gray;
  padding: 15px;
  text-align: center;
  font-size: $font-size-small;
  border-bottom: 9px solid $dark-gray;
}

.footer-intergage {
  img {
    width:2rem;
    height:auto;
  }
}

.footer-black {
  @media (max-width:844px) {
  text-align:center;
}
  height: auto;
  background-color: $blue;
  color: $primary-white;

  p {
    font-family: $font-family-swiss-roman;
  }

  a:link {
    text-decoration: none;
    color: $primary-blue;
  }

  .footer-top {
    text-align: center;
    border-bottom: 1px solid $primary-white;
    padding-bottom: $section-v-space / 3;
    height: auto;
    @include grid-row;
  }

  .footer-bottom {
    padding-top:2rem;
    padding-bottom:2rem;
    .row {
      .footer-navigation {
        ul {
          display:flex;
          justify-content:center;
        }
      }
    }
  }
}

.footer-bottom,
.footer-top {
  padding-right: 2%;
  padding-left: 2%;
}
@media (min-width:64.025em) {

.footer-black {
  .footer-bottom {
    border-top:1px solid white;
    .row {
      display:flex;
      justify-content:space-between;
      align-items:center;
      p {
        margin:0;
      }
      > * {
        width:33%;
        color:white;

        &:nth-child(1) {
          text-align:left;
        }
        &:nth-child(2) {
          text-align:center;
        }
        &:last-child {
          text-align:right;
        }
        a {
          color:white;
        }
      }
    }
  }
}
}


.footer-black, #masthead .menu-btn, section.secondary_bg {
  background-color: $primary-blue;
}
