#sample-basket-outer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: none;
  top: 0;
  left: 0;
  z-index: 999999;
}

.sample-basket {
  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-sizing: border-box;
  width: 1024px;
  height: 768px;
  max-width: 90vw;
  max-height: 90vh;
  transition: top 1s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

  &__message {
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;

    > div {
      position: relative;
      height: 100%;
      width: 100%;
      display: block;

      > article {
        position: absolute;
        top: 50%;
        left: 50%;
        background: white;
        transform: translate(-50%,-50%);
        padding: 2rem;
        box-sizing: border-box;
        text-align: center;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &:not(.active) {
      display: none;
    }
  }

  > div {
    overflow-x: hidden;
    position: relative;
    background: $primary-blue;
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__progress {
    width: 75%;
    height: 7.5%;
    box-sizing: border-box;
    @media (min-width:768px) {
      padding: 0 3rem;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__stage {
      &__number {
        font-size: 1.2rem;
        display: none!important;
        @media (min-width:768px) {
          display: block!important;
        }
      }

      &__title {
        font-size: 0.7rem;
      }

      &.type.active {
        & + div {
          &:hover {
            cursor: auto!important;
            opacity: 0.5!important;
          }
        }
      }

      article {
        color: $white;
        text-align: center;

        span {
          display: block;
        }
      }

      &:not(.active) {
        opacity: 0.5;

        &.product,
        &.type {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }

  &__close {
    width: 25%;
    height: 7.5%;
  }

  &__items {
    &__wrapper {
      background: #eee;
      height: 92.5%;
      @media (max-width:767px) {
        position: absolute;
        width: 100%;
        top: 7.5%;
        right: -100%;
        transition: right 0.5s ease;
z-index:200; 
        &.slide {
          right: 0;
        }
      }
      @media (min-width:768px) {
        width: 25%;
        position: relative;
      }
      overflow: hidden;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #go-to-basket {
        width: 100%;
        position: relative;
        background: #eee;
        flex: 1;

        span {
          line-height: 2rem;
          color: #aaa;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border: 1px solid #aaa;
          width: 90%;
          text-align: center;
        }
      }
    }
    height: calc(100% - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    &:not(:empty) {
      & + #go-to-basket {
        cursor: pointer;

        span {
          color: $white!important;
          background: $primary-blue;
          border: 1px solid $primary-blue;

          &:hover {
            background: $light-black;
          }
        }
      }
    }

    > div {
      display: flex;
      box-sizing: border-box;
      padding: 1rem;
      width: 100%;
      align-items: center;
      background: #fff;
      cursor: pointer;
      position: relative;

      .remove-basket-item {
        width: 32px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        font-size: 1.4rem;
        color: white;
        font-family: monospace;
        line-height: 18px;
        box-sizing: border-box;
        display: block;
      }

      &:hover {
        .remove-basket-item {
          background: #c33131;
          color: white;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      span {
        flex-grow: 1;
        padding-left: 1rem;
        font-size: 0.7rem;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    &:empty {
      &:before {
        content: "Add Samples";
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 0.9rem;
        color: #333;
        transform: translate(-50%,-50%);
      }
    }
  }

  &__content {
    box-sizing: border-box;
    background: $white;
    position: relative;
    height: 92.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    @media (min-width:768px) {
      overflow-y: hidden;
      width: 75%;
    }

    &__types {
      .loading {
        &:not(.loaded) ~ * {
          display: none;
        }

        &.loaded {
          display: none;
        }
      }

      h2,
      p {
        width: 100%;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &__type {
        width: 100%;
        @media (min-width:768px) {
          width: 32%;
        }
        position: relative;
        //background: $primary-blue;
        text-align: center;
        transition: all 0.5s ease;

        img {
          height: 150px!important;
          width: auto!important;
        }

        p {
          color: $primary-blue;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          font-family: 'Raleway', sans-serif;
        }

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
        @media (min-width:768px) {
          &:after {
            padding-top: 100%;
            content: "";
            display: block;
          }
        }
      }
    }

    &__variants {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      position: relative;
      overflow-x: hidden;
    }

    .product-finishes-filter {
      @media (min-width:768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      margin-bottom: 1rem;
    }

    .product-finish {
      box-sizing: border-box;
      padding: 0 1rem;

      &:not(.active) {
        cursor: pointer;
      }

      &:only-child {
        display: none;
      }

      &__name {
        font-weight: 700;
        line-height: 2rem;
        display: block;
        margin-bottom: 0;
      }

      &:hover {
        background: #eee;
      }

      &.active {
        background: $primary-blue;
        color: $white;

        &:hover {
          background: $primary-blue;
        }
      }

      &--Diamond,
      &--Hexagon,
      &--Rectangle,
      &--Square,
      &--Triangle {
        background: white!important;
        color: $primary-blue!important;
        align-self: flex-start;

        &:not(.active) {
          &:before {
            opacity: 0.2;
          }
        }

        &:before {
          width: 100%;
          content: "";
          padding-top: 3rem;
          background-size: 100% auto;
          background-position: center center;
          display: block;
          background-repeat: no-repeat;
          margin-bottom: 1rem;
        }
      }

      &--Triangle {
        &:before {
          background-image: url("https://www.intrasystems.co.uk/wp-content/themes/axishouse/img/shape-selector/triangle.png");
        }
      }

      &--Square {
        &:before {
          background-image: url("https://www.intrasystems.co.uk/wp-content/themes/axishouse/img/shape-selector/square.png");
        }
      }

      &--Rectangle {
        &:before {
          background-image: url("https://www.intrasystems.co.uk/wp-content/themes/axishouse/img/shape-selector/rectangle.png");
        }
      }

      &--Hexagon {
        &:before {
          background-image: url("https://www.intrasystems.co.uk/wp-content/themes/axishouse/img/shape-selector/hexagon.png");
        }
      }

      &--Diamond {
        &:before {
          background-image: url("https://www.intrasystems.co.uk/wp-content/themes/axishouse/img/shape-selector/diamond.png");
        }
      }
    }

    .product-finish-list {
      &:not(.active) {
        display: none;
      }
    }

    .product-variation {
      &__title {
        margin-bottom: 0;
        background: #eee;
        line-height: 2rem;
        padding: 0 1rem;

        &.active {
          background: $primary-blue;
          color: $white;
        }

        &:not(.active) {
          cursor: pointer;

          &:hover {
            background: #aaa;
          }

          & + ul {
            display: none;
          }
        }
      }

      &:only-child {
        > p {
          display: none;
        }
      }

      &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
          margin: 1.25% 0;
          width: 100%;
          @media (min-width:768px) {
            width: 19%;

            &:not(:nth-child(5n+5)) {
              margin-right: 1.25%;
            }
          }
          box-sizing: border-box;
          text-align: center;
          cursor: pointer;

          &:hover {
            > * {
              opacity: 0.5;
            }
          }

          &.in-basket {
            > div {
              position: relative;
              z-index: 1;

              img {
                position: relative;
                z-index: 10;
                opacity: 0.5;
              }

              &:after {
                z-index: 20;
                opacity: 1;
                position: absolute;
                text-align: center;
                width: 3rem;
                height: 3rem;
                background: $primary-blue;
                top: 50%;
                left: 50%;
                line-height: 3rem;
                font-weight: 900;
                color: $white;
                font-size: 2rem;
                content: "\2713";
                transform: translate(-50%,-50%);
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    &__products {
      height: 100%;
      max-height: 100%;
      overflow-y: auto;

      &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }

    &__basket {
      overflow-y: auto;

      .screen-reader-response {
        display: none;
      }

      .wpcf7 {
        .wpcf7-form {
          display: flex;
          flex-wrap: wrap;

          > * {
            width: 100%;
          }

          .wpcf7-not-valid-tip {
            text-align: left;
            display: block;
            background: #8B0000;
            color: white;
            order: 0;
            padding: 0.5rem;
          }

          .wpcf7-mail-sent-ok {
            background: #4BB543;
            order: 0;
            padding: 0.5rem;
            color: white;
          }

          .form_fields {
            @media (min-width:900px) {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;

              p {
                width: 49%;
              }
            }

            .submit-btn {
              text-align: left;
            }

            .wpcf7-submit {
              padding: 0 1rem;
              font-family: "Swiss_721 W01 Light",Helvetica,sans-serif;
              color: #fff !important;
              background: #385e75;
              border: 1px solid #385e75;
              line-height: 2rem;
              border: 1px solid #aaa;
              width: 200px;
              text-align: center;
              font-size: 0.875rem;
              height: auto;
            }

            input[type="text"],
            input[type="email"],
            input[type="url"],
            input[type="password"],
            input[type="search"],
            select {
              width: 100%;
            }
          }
        }
      }
    }

    &__stage {
      width: 400%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      left: 0;

      > div {
        width: 25%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    @media (min-width:768px) {
      width: 20%;
    }
    cursor: pointer;

    p {
      text-align: center;
      color: $primary-blue;
      font-family: 'Raleway', sans-serif;
    }

    &__image {
      position: relative;

      &::after {
        padding-top: 90%;
        width: 100%;
        display: block;
        content: "";
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.5s ease;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
      }
    }

    &:hover {
      p {
        color: $light-black;
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;

    p {
      line-height: 40px;
      color: $white;
    }
  }

  &__basket-tray {
    position: absolute;
    top: 8px;
    right: 50px;
    width:25px;
    height:25px;
    cursor: pointer;
    @media (min-width:768px) {
      display:none;
    }
    > span {
      position: relative;
      width:25px;
      height:25px;
      display: block;
      font-size: 0;
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='shopping-basket' class='svg-inline--fa fa-shopping-basket fa-w-18' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffffff' d='M576 216v16c0 13.255-10.745 24-24 24h-8l-26.113 182.788C514.509 462.435 494.257 480 470.37 480H105.63c-23.887 0-44.139-17.565-47.518-41.212L32 256h-8c-13.255 0-24-10.745-24-24v-16c0-13.255 10.745-24 24-24h67.341l106.78-146.821c10.395-14.292 30.407-17.453 44.701-7.058 14.293 10.395 17.453 30.408 7.058 44.701L170.477 192h235.046L326.12 82.821c-10.395-14.292-7.234-34.306 7.059-44.701 14.291-10.395 34.306-7.235 44.701 7.058L484.659 192H552c13.255 0 24 10.745 24 24zM312 392V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm112 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24zm-224 0V280c0-13.255-10.745-24-24-24s-24 10.745-24 24v112c0 13.255 10.745 24 24 24s24-10.745 24-24z'%3E%3C/path%3E%3C/svg%3E");
      background-size:100% auto;
      background-position:center center;

    }
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width:40px;
    height:40px;
    cursor: pointer;
    @media (min-width:768px) {
      width: 50px;
      height: 50px;
    }

    > span {
      position: relative;
      width:40px;
      height:40px;
      display: block;
      font-size: 0;
      @media (min-width:768px) {
        width: 50px;
        height: 50px;
      }
      &::before {
        width: 40%;
        height: 0.25rem;
        @media (min-width:768px) {
          height: 0.125rem;
        }
        background: white;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        content: "";
      }
      /*&::after,
      &::before {
        top: 8px;
        width: 18px;
        height: 2px;
        display: block;
        content: "";
        position: absolute;
        background-color: $white;
      }

      &::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 1px;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 1px;
      }*/
    }

    &:hover {
      > span {
        &:before {
          opacity: 0.5;
        }
      }
    }
  }
}

#sample-basket-tab {
  position: fixed;
  z-index: 300;
  bottom: 0;
  right: 1rem;
  width: 200px;
  @media (min-width:768px) {
    width: 230px;
    max-width: 40vw;
  }
  padding: 0 1rem;
  transition: top 1s ease;
  bottom: 0;
  height: 2rem;
  background: $primary-blue;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  border: 1px solid $light-black;
  border-bottom: 0 solid;

  &:hover {
    background: $light-black;
  }
  line-height: 2rem;
  color: white;
  font-size: 0.9rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0;

  span {
    float: right;
  }
}

body.basket-open {
  overflow: hidden;

  .sample-basket {
    top: 50%;
  }

  #sample-basket-outer {
    display: block;
  }

  #sample-basket-tab {
    bottom: -2rem;
  }
}
