.sample-basket {
  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  box-sizing: border-box;
  width: 1024px;
  height: 768px;
  max-width: 90vw;
  max-height: 90vh;
  transition: top 1s ease;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

  &.open {
    top: 50%;
  }

  > div {
    position: relative;
    background: $primary-blue;
    padding: 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__progress {
    width: 75%;
    height: 7.5%;
    box-sizing: border-box;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__stage {
      &__number {
        font-size: 1.2rem;
      }

      &__title {
        font-size: 0.7rem;
      }

      article {
        color: $white;
        text-align: center;

        span {
          display: block;
        }
      }

      &:not(.active) {
        opacity: 0.5;

        &.type {
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }

  &__close {
    width: 25%;
    height: 7.5%;
  }

  &__items {
    &__wrapper {
      background: #eee;
      width: 25%;
      position: relative;
      height: 92.5%;
      overflow: hidden;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #go-to-basket {
        width: 100%;
        position: relative;
        background: #eee;
        flex: 1;

        span {
          line-height: 2rem;
          color: #aaa;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border: 1px solid #aaa;
          width: 90%;
          text-align: center;
        }
      }
    }
    height: calc(100% - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    &:not(:empty) {
      & + #go-to-basket {
        cursor: pointer;

        span {
          color: $white!important;
          background: $primary-blue;
          border: 1px solid $primary-blue;

          &:hover {
            background: $light-black;
          }
        }
      }
    }

    > div {
      display: flex;
      box-sizing: border-box;
      padding: 1rem;
      width: 100%;
      align-items: center;
      background: #fff;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      span {
        flex-grow: 1;
        padding-left: 1rem;
        font-size: 0.7rem;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    &:empty {
      &:before {
        content: "Add Samples";
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 0.9rem;
        color: #333;
        transform: translate(-50%,-50%);
      }
    }
  }

  &__content {
    box-sizing: border-box;
    background: $white;
    position: relative;
    height: 92.5%;
    overflow: hidden;
    width: 75%;

    &__types {
      .loading {
        &:not(.loaded) ~ * {
          display:none;
        }
        &.loaded {
          display:none;
        }
      }
      h2,
      p {
        width: 100%;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
      }

      &__type {
        width: 32%;
        position: relative;
        background: $primary-blue;

        p {
          position: absolute;
          color: $white;
          top: 50%;
          left: 50%;
          width: 100%;
          transform: translate(-50%,-50%);
          text-align: center;
          font-size: 2rem;
          font-family: 'Raleway', sans-serif;
        }

        &:hover {
          background: $light-black;
          cursor: pointer;
        }

        &:after {
          padding-top: 100%;
          content: "";
          display: block;
        }
      }
    }

    &__variants {
      height: 100%;
      width: 100%;
      overflow-y: scroll;
      position: relative;
      overflow-x:hidden;
    }

    .product-finishes-filter {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 1rem;
    }

    .product-finish {
      box-sizing: border-box;
      height: 2rem;
      padding: 0 1rem;

      &:not(.active) {
        cursor: pointer;
      }

      &__name {
        font-weight: 700;
        line-height: 2rem;
        display: block;
        margin-bottom: 0;
      }

      &:hover {
        background: #eee;
      }

      &.active {
        background: $primary-blue;
        color: $white;

        &:hover {
          background: $primary-blue;
        }
      }
    }

    .product-finish-list {
      &:not(.active) {
        display: none;
      }
    }

    .product-variation {
      &__title {
        margin-bottom: 0;
        background: #eee;
        line-height: 2rem;
        padding: 0 1rem;

        &.active {
          background: $primary-blue;
          color: $white;
        }

        &:not(.active) {
          cursor: pointer;

          &:hover {
            background: #aaa;
          }

          & + ul {
            display: none;
          }
        }
      }

      &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
          width: 19%;
          margin: 1.25% 0;

          &:not(:nth-child(5n+5)) {
            margin-right: 1.25%;
          }
          box-sizing: border-box;
          text-align: center;
          cursor: pointer;

          &:hover {
            > * {
              opacity: 0.5;
            }
          }

          &.in-basket {
            > div {
              position: relative;
              z-index: 1;

              img {
                position: relative;
                z-index: 10;
                opacity:0.5;
              }

              &:after {
                z-index: 20;
                opacity: 1;
                position: absolute;
                text-align:center;
                width: 3rem;
                height: 3rem;
                background: $primary-blue;
                top: 50%;
                left: 50%;
                line-height:3rem;
                font-weight:900;
                color:$white;
                font-size:2rem;
                content: "\2713";
                transform: translate(-50%,-50%);
                border-radius:50%;
              }
            }
          }
        }
      }
    }

    &__products {

      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

      }
    }

    &__basket {
      overflow-y: auto;

      .wpcf7 {
        .wpcf7-form {
          .wpcf7-not-valid-tip {
            text-align:left;
            display:block;
            color:#8B0000;
          }
          .form_fields {
            @media (min-width:900px) {
              display:flex;
              flex-wrap:wrap;
              justify-content:space-between;
              p {
                width:49%;
              }
            }

            .submit-btn {
              display:none;
            }

            input[type="text"],
            input[type="email"],
            input[type="url"],
            input[type="password"],
            input[type="search"],
            select {
              width: 100%;
            }
          }
        }
      }
    }

    &__stage {
      width: 400%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      left: 0;

      > div {
        width: 25%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    padding: 10px;
    width: 20%;
    cursor: pointer;

    p {
      text-align: center;
      color: $primary-blue;
      font-family: 'Raleway', sans-serif;
    }

    &__image {
      position: relative;

      &::after {
        padding-top: 90%;
        width: 100%;
        display: block;
        content: "";
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.5s ease;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
      }
    }

    &:hover {
      p {
        color: $light-black;
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;

    p {
      line-height: 40px;
      color: $white;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;

    > span {
      position: relative;
      width: 20px;
      height: 20px;
      display: block;
      font-size: 0;

      &::after,
      &::before {
        top: 8px;
        width: 18px;
        height: 2px;
        display: block;
        content: "";
        position: absolute;
        background-color: $white;
      }

      &::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 1px;
      }

      &::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 1px;
      }
    }

    &:hover {
      > span {
        &::after,
        &::before {
          background-color: $light-black;
        }
      }
    }
  }
}

#sample-basket-tab {
  position: fixed;
  z-index: 300;
  bottom: 0;
  right: 1rem;
  width: 200px;
  max-width: 40vw;
  padding: 0 1rem;
  transition: top 1s ease;

  &.hidden {
    bottom: -2rem;
  }
  height: 2rem;
  background: $primary-blue;
  box-sizing: border-box;
  display: block;
  cursor: pointer;

  &:hover {
    background: $light-black;
  }

  p {
    line-height: 2.1rem;
    color: white;
    font-size: 0.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
  }

  span {
    float: right;
  }
}
